<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">

	<display-name>EduHub</display-name>

	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AdminUpdateStudentController</servlet-name>
		<servlet-class>com.controller.AdminUpdateStudentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUpdateStudentController</servlet-name>
		<url-pattern>/AdminUpdateStudentController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminTeacherRegistration</servlet-name>
		<servlet-class>com.controller.AdminTeacherRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminTeacherRegistration</servlet-name>
		<url-pattern>/AdminTeacherRegistration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminUserController</servlet-name>
		<servlet-class>com.controller.AdminUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUserController</servlet-name>
		<url-pattern>/AdminUserController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminUpdateTeacherController</servlet-name>
		<servlet-class>com.controller.AdminUpdateTeacherController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminUpdateTeacherController</servlet-name>
		<url-pattern>/AdminUpdateTeacherController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDeleteUserController</servlet-name>
		<servlet-class>com.controller.AdminDeleteUserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteUserController</servlet-name>
		<url-pattern>/AdminDeleteUserController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminViewClassesController</servlet-name>
		<servlet-class>com.controller.AdminViewClassesController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminViewClassesController</servlet-name>
		<url-pattern>/AdminViewClassesController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminUpdateClassController</servlet-name>
		<servlet-class>com.controller.AdminUpdateClassController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminUpdateClassController</servlet-name>
		<url-pattern>/AdminUpdateClassController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminViewAttendanceController</servlet-name>
		<servlet-class>com.controller.AdminViewAttendanceController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminViewAttendanceController</servlet-name>
		<url-pattern>/AdminViewAttendanceController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminManageFeesController</servlet-name>
		<servlet-class>com.controller.AdminManageFeesController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminManageFeesController</servlet-name>
		<url-pattern>/AdminManageFeesController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminPayFeesController</servlet-name>
		<servlet-class>com.controller.AdminPayFeesController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminPayFeesController</servlet-name>
		<url-pattern>/AdminPayFeesController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.controller.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminStudentRegistration</servlet-name>
		<servlet-class>com.controller.AdminStudentRegistration</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminStudentRegistration</servlet-name>
		<url-pattern>/AdminStudentRegistration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserAttendanceController</servlet-name>
		<servlet-class>com.controller.UserAttendanceController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserAttendanceController</servlet-name>
		<url-pattern>/UserAttendanceController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserFeesController</servlet-name>
		<servlet-class>com.controller.UserFeesController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserFeesController</servlet-name>
		<url-pattern>/UserFeesController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminStudentViewController</servlet-name>
		<servlet-class>com.controller.AdminStudentViewController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminStudentViewController</servlet-name>
		<url-pattern>/AdminStudentViewController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ParentRegistration</servlet-name>
		<servlet-class>com.controller.ParentRegistration</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ParentRegistration</servlet-name>
		<url-pattern>/ParentRegistration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminDeleteTeacherController</servlet-name>
		<servlet-class>com.controller.AdminDeleteTeacherController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminDeleteTeacherController</servlet-name>
		<url-pattern>/AdminDeleteTeacherController</url-pattern>
	</servlet-mapping>
	
	 <servlet>
        <servlet-name>EnquiryController</servlet-name>
        <servlet-class>com.controller.EnquiryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EnquiryController</servlet-name>
        <url-pattern>/EnquiryController</url-pattern>
    </servlet-mapping>
</web-app>